aiogram==2.25.1
asyncpg==0.29.0
redis==5.0.1
pydantic==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
Pillow==10.3.0
aiohttp==3.14.3
python-magic==0.4.27
tldextract==5.1.2
pytest==8.2.2
pytest-asyncio==0.23.7
